body{
  background-image: url("http://cdn.playbuzz.com/cdn/470cd7af-2fdb-4f8f-8dc8-1985cc7fc5f1/3774c0ee-e75c-48bb-8ab7-933ce5f044b6.jpg")
}

#instrument{
  height: 120px;
  width: 812px;
  padding-right: 10px;
  padding-top: 50px;
  margin: auto;

}
.box{
  height: 100px;
  width: 100px;
  margin-left: 10px;
  margin-top: 10px;
  float: left;
}

#c{
  background-color: #6593b2;
}
#c:hover{
  background-color: #661920;
}
#d{
  background-color: #422018;
}
#d:hover{
  background-color: #632819;
}
#e{
  background-color: #45391B;
}
#e:hover{
  background-color: #735B20;
}
#f{
  background-color: #193C29;
}
#f:hover{
  background-color: #1b613b;
}
#g{
  background-color: #18323E;
}
#g:hover{
  background-color: #184d65;
}
#a{
  background-color: #331f35;
}
#a:hover{
  background-color: #4E2753;
}
#b{
  background-color: #43293D;
}
#b:hover{
  background-color: #6f3a62;
}
